<mat-card class="daxa-card sidebar-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Articulos
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div class="daxa-card sidebar-card mb-25 border-radius bg-white border-none d-block"
            [class.component-dark-theme]="themeService.isDark()" [class.rtl-enabled]="themeService.isRTLEnabled()">
            <div class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" [(ngModel)]="searchText" (keyup)="search()"
                    class="input-search d-block w-100 border-none outline-0" placeholder="Buscar...">
            </div>
        </div>


        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <!-- This is the tree node template for leaf nodes -->
            <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="node-name" (click)="logNodeData(node)"
                [class.highlighted]="node.isVisible">
                {{node.name}}
                <button mat-mini-fab color="primary" (click)="agregarHijo(node)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node" [class.highlighted]="node.isVisible">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <span (click)="logNodeData(node)" class="node-name"
                        [class.highlighted]="node.isVisible">{{node.name}}</span>
                    <!-- Botón para agregar un nuevo hijo al nodo actual -->
                    <button mat-mini-fab color="primary" (click)="agregarHijo(node)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-card-content>
</mat-card>