.mat-mdc-card {
    &.daxa-card {
        &.to-do-list-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                }

                ;

                .to-do-list-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            &:last-child {
                                text-align: right;
                            }

                            &:first-child {
                                padding-right: 0;
                            }
                        }

                        .mat-mdc-cell {
                            text-align: center;
                            /* Centración horizontal */
                            vertical-align: middle;

                            /* Centración vertical */
                            padding: {
                                top: 21.5px;
                                bottom: 21.5px;
                            }

                            ;

                            &:last-child {
                                text-align: right;
                            }

                            &:first-child {
                                padding-right: 0;
                            }
                        }

                        .daxa-badge {
                            color: var(--daxaColor);
                            background: rgba(15, 121, 243, 0.10);

                            &.in-progress {
                                color: var(--warningColor);
                                background: rgba(241, 179, 28, 0.10);
                            }

                            &.pending {
                                color: var(--successColor);
                                background: rgba(46, 212, 126, 0.10);
                            }

                            &.not-started {
                                color: var(--dangerColor);
                                background: rgba(231, 76, 60, 0.10);
                            }
                        }
                    }
                }

                .add-new-task-btn {
                    padding: {
                        top: 20px;
                        left: 20px;
                        right: 20px;
                    }

                    ;

                    .mat-mdc-button {
                        padding: 0;
                        height: auto;
                        min-width: auto;

                        font: {
                            size: var(--fontSize) !important;
                            weight: normal;
                        }

                        ;

                        &:not(:disabled) {
                            color: var(--daxaColor);
                        }
                    }
                }
            }

            &.rtl-enabled {
                .mat-mdc-card-content {
                    .to-do-list-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                &:last-child {
                                    text-align: left;
                                }

                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    }

                                    ;
                                }
                            }

                            .mat-mdc-cell {
                                text-align: center;
                                /* Centración horizontal */
                                vertical-align: middle;

                                /* Centración vertical */
                                &:last-child {
                                    text-align: left;
                                }

                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    }

                                    ;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}